@model EmployeeEditViewModel

@{
    ViewData["Title"] = "Update Employee";
    var photoPath = "~/images/" + (Model.ExistingPhotoPath ?? "noimage.png");

}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <input  hidden asp-for="Id" />
    <input hidden  asp-for="ExistingPhotoPath" />
    <div>
        <label asp-for="Name"></label>
        <input  asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
         <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Department"></label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()">
            <option value="">--Please Select--</option>
        </select>
        <span asp-validation-for="Department" class="text-danger"></span>
        <br />


        <div class="">

            <label asp-for="Photo" class="form-label">Click here to change Photo </label>
            <input  asp-for="Photo" class="form-control" />

        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div>
        <button type="submit"> Update</button>
        <a  asp-action="index" asp-controller="home"> Cancel</a>

    </div>
    <div>
        <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
    </div>

</form>

