@model int

<div class="alert alert-danger mt-1 mb-1">
	<h4>404 Not Found Error .. .</h4>
	<h4> Employee with ID= @Model connot be found</h4>
</div>

<a asp-action="index" asp-controller="home" class=" btn btn-outline-success">
	Click here to see all Employees
</a>